# Supabase Configuration
VITE_SUPABASE_URL=https://eluoafijkqctngaflcgl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsdW9hZmlqa3FjdG5nYWZsY2dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNjM5NDAsImV4cCI6MjA5ODkzOTk0MH0.4-NwcxTSpjAy9mrenWT23vGkoqYQHUd2PvyPRj-Q7UY
